@font-face {
  font-family: "Padauk-book";
  src: url("../fonts/Padauk/padauk-book.ttf");
  font-weight: auto;
}
@font-face {
  font-family: "Padauk-bookbold";
  src: url("../fonts/Padauk/padauk-bookbold.ttf");
  font-weight: auto;
}
@font-face {
  font-family: "Padauk-bold";
  src: url("../fonts/Padauk/Padauk-bold.ttf");
  font-weight: auto;
}

* {
  font-family: "Padauk-book";
}
.bookBold {
  font-family: "Padauk-bookbold";
}
.bold {
  font-family: "Padauk-bold";
}
.menu-icon {
  width: 50px;
  height: 50px;
  background: transparent;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-icon span {
  width: 20px;
  height: 2px;
  background: #282c34;
  position: absolute;
  transition: 0.2s;
}

.menu-icon span:nth-child(1) {
  transform: translateY(0);
}

.menu-icon span:nth-child(2) {
  transform: translateY(10px);
}

.menu-icon.show span:nth-child(1) {
  transform: rotate(30deg);
}

.menu-icon.show span:nth-child(2) {
  transform: rotate(-30deg);
}

.z-1000 {
  z-index: 2000;
}
